<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h2>Добро пожаловать, незнакомец!</h2>
    <form action="" method="post">
        <label>Имя</label>
        <p><input type="text" name="name" placeholder="Имя"/> </p>
        <label>Фамилия</label>
        <p><input type="text" name="surname" placeholder="Фамилия"/></p>
        <label>Возраст</label>
        <p><input type="number" name="age" placeholder="Возраст"/></p>
        <button>Зарегистрироваться!</button>
    </form>



</body>
</html>